<!DOCTYPE html>
<html>
<head>
    <title>تعريف مرشح</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-container">

<h2>تعريف مرشح</h2>

<form method="POST">

    <div class="form-group">
        <label>اسم المرشح</label>
        <input type="text" name="name" required>
    </div>

    <!--<div class="form-group">
        <label>اسم الحزب</label>
        <input type="text" name="party_name" required>
    </div>-->

    <div class="form-group">
    <label>اسم القائمة</label>

    <select name="list_id" required>

        <option value="">-- اختر القائمة --</option>

        {% for list in lists %}

        <option value="{{ list.id }}"
                {% if list.id == candidate_list.id %}selected{% endif %}>
            {{ list.name }}
        </option>

        {% endfor %}

    </select>
</div>
<div class="form-group">

<label>الطائفة</label>

<select name="sect_id" required>

<option value="">
-- اختر الطائفة --
</option>


{% for sect in sects %}

<option value="{{ sect.id }}">
{{ sect.name }}
</option>

{% endfor %}


</select>

</div>
    <button type="submit">
        حفظ معلومات المرشح
    </button>

</form>


<a href="{{ url_for('tenant.dashboard') }}" class="back-link">
    العودة إلى لوحة التحكم
</a>

</div>

</body>
</html>