<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Maten Election Record</title>
    <link rel="stylesheet" href="/static/style.css/">
</head>
<body>
    <div class="form-container">
         <h1>ELECTIONS 2026</h1>
         <h2>MATEN</h2>
        <form action="/submit" method="post">
           <label for="elector_id">Enter the elector's ID:</label>
           <input type="number" id="elector_id" name="elector_id" required>
           <button type="submit">Submit</button>
           <button type="reset">Cancel</button>
         <!--  <button type="submit" formaction="/electors" formmethod="get" formnovalidate>Go to electors</button>--> 
            <a href="{{ url_for('frontend.dashboard') }}">
                    <button type="button">Back to Dashboard</button>
            </a>
           <button type="submit" formaction="/logout" formmethod="get" formnovalidate>Logout</button>
        </form>
    </div>
</body>
</html>
