<!DOCTYPE html>
<html>
<head>
    <title>Developer Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Developer Registration</h2>
    <form method="post" action="{{ url_for('backend.create_user') }}">
        <label for="username">New Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">New Password:</label>
        <input type="password" name="password" required><br>
        <button type="submit">Register</button>
    </form>
    <a href="{{ url_for('backend.admin_dashboard') }}" class="btn-back">Back to Admin Dashboard</a>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>
</html>
